{% extends 'base.html.twig' %}

{% block title %}GR Shop{% endblock %}

{% block body %}
    <br/>
    <h1>Supprimer le produit</h1>
    <br/>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ contenu.id }}</td>
            </tr> #}
            <tr>
                <th>Qte</th>
                <td>{{ contenu.qte }}</td>
            </tr>
            <tr>
                <th>Date_ajout</th>
                <td>{{ contenu.dateAjout ? contenu.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contenu_index') }}">back to list</a>

    <a href="{{ path('contenu_edit', {'id': contenu.id}) }}">edit</a>

    {{ include('contenu/_delete_form.html.twig') }}
{% endblock %}
