{% extends 'base.html.twig' %}

{% block title %}
	GR Shop
{% endblock %}

{% block body %}
	<br/>
	<h1>{{'produit.description'|trans}}</h1>
	<br/>

	<div class="backedit" style="display:flex; justify-content:space-between">

		<a href="{{ path('produit') }}">{{'produit.retour'|trans}}</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('produit_edit', {'id': produit.id}) }}">{{'produit.edit'|trans}}</a>
		{% endif %}

	</div>
	<br/>
	<div style="display: flex; justify-content: space-around;">
		<div>
			{% if produit.image is not null %}
				<img src="{{ asset('uploads/' ~ produit.image) }}">
			{% endif %}
		</div>
		<br/>
		<div>
			<h1>{{produit.nom}}</h1>

			<p style="font-size: 23px;">
				Description :
				<strong>
					{{produit.description}}
				</strong>
			</p>

			<p style="font-size: 23px;">
				{{'produit.quantite' |trans}}
				:
				<strong>
					{{produit.stock}}
				</strong>
			</p>

			<p style="font-size: 23px;">
				{{'produit.prix' |trans}}
				:
				<strong>
					{{produit.prix}}€
				</strong>
			</p>
			<br/>
		</div>
	</div>

	<br/>

	<div style="background-color: darkgrey; height: 3px;"></div>

    <br/>

	{% if app.user is not null %}
		{#Si l'utilisateur n'est pas connecté il ne peut pas ajouter l'article au panier#}
		<h2 style="display:flex; justify-content:center; font-family: Montserrat;">
			{{'pan.add'|trans}}
		</h2>
		<br/>
		<div style="font-family: Montserrat">
			{{ form(form) }}
			</div>
		{% else %}
			{{'compte.veuillez'|trans}}
			<a href="{{ path('app_login') }}">
				{{'compte.login'|trans}}
			</a>
			{{'compte.or'|trans}}
			<a href="{{ path('app_register') }}">
				{{'compte.signin'|trans}}
			</a>
			{{'compte.conditionadd'|trans}}
	{% endif %}

	<br/>
	<br/>

	{# {{ include('produit/_delete_form.html.twig') }} #}
{% endblock %}
